{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{% block fos_user_content %}#}
{#<p>{{ 'resetting.password_already_requested'|trans }}</p>#}
{#{% endblock fos_user_content %}#}

{% extends "UserBundle::form_layout.html.twig" %}
{% block form %}
<p>{{ 'We have already sent you an email. Plase check you email'|trans }}</p>

{% endblock form %}
