{% extends "@App/classroom/classroomLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/teacherClassroom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="classroom">
        <iframe src="https://siplo.lk:9002/whiteboard/123" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <div id="question-list" class="card row" style="padding:10px;width:15vw; position: relative;z-index: 1000;left: 80vw;background: rgba(250,250,145,0.5)">
        <div style="margin: 0" class="text-center text-warning h5">Questions</div>
        {#<div class="card" style="padding: 5px">#}
            {#<div class=" ">Sample question asnjkd dkj kenfj efkjnje </div>#}
            {#<button class=" btn btn-success" >Answer</button>#}
        {#</div>#}
        {#<div class="card" style="padding: 5px">#}
            {#<div class=" ">Sample question asnjkd dkj kenfj efkjnje </div>#}
            {#<button class="btn btn-success" >Answer</button>#}
        {#</div>#}
    </div>

    {#<div id="questionContainer" class="row" style="width:70vw; position: absolute;z-index: 1000;left: 30vw;top:10vh">#}
        {#<div class="card" style="padding: 5px">#}
            {#<div class=" "><span class="text-info">Question: </span>Sample question asnjkd dkj kenfj efkjnje </div>#}
            {#<button onclick="clearQuestion()" class=" btn btn-danger" >Clear</button>#}
        {#</div>#}
    {#</div>#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var questionId=0;
        function addQuestion(question){

            $("#question-list").append('<div id="q'+questionId+'" class="card" style="padding: 5px">'+
                   ' <div id="'+questionId+'" class=" ">'+question+ '</div>'+
            '<button onclick="answer(\''+questionId+'\')" class="btn btn-success" >Answer</button>'+
                    '</div>');
            questionId++;
        }

        function answer(qID){
            var question = $("#"+qID+"").html();
            $("#q"+qID).remove();
            showQuestion(question);


        }
        function showQuestion(question){
            $('#classroom').append('<div id="questionContainer" class="row" style="width:70vw; position: absolute;z-index: 1000;left: 30vw;top:5vh">' +
                    '<div class="card" style="padding: 5px">'
                    +'<div class=" "><span class="text-info">Question: </span>'+question+' </div>'
                    +'<button onclick="clearQuestion()" class=" btn btn-danger pull-right" >Clear</button>'
                    +'</div>'
                    +'</div>'

            );
        }
        function clearQuestion(){
            $("#questionContainer").remove();
        }
    </script>
{% endblock %}