{% extends "@App/classroom/classroomLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/teacherClassroom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="classroom">
        <iframe src="https://siplo.lk:9002/whiteboard/123" frameborder="0" width="100%" height="100%"></iframe>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}